*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;

}

ul  {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #3072f7;
    width: 50%;
 
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.container {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;

}

table {
    text-align: center;
    width: 900px;
    margin: 40px auto;
    /* margin: 20px auto; */
    font-family: sans-serif;
   
}
th, td {
    padding: 10px;
}

th  {
    background-color: #74a5dd;
    padding: 20px 0;
    color: white;
}

td {
    background-color: #eee;
}

span {
    padding: 5px 10px;
    margin: 3px;
    color: white;
}


.blue {
    background-color: rgb(30, 208, 214);
    border: 1px solid black;
}
.pink{
    background-color: red;
    border: 1px solid black;
}
.container-2{
    display: flex;
}